.galleryWrapper {
  width: 100%;
  width: max-content;
}

.container {
  width: 30rem;
  height: 30rem;
  background-color: red;
  margin-top: 15%;
  border-radius: 0.7rem;
}

.smallContainerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.smallContainer {
  width: 6rem;
  height: 6rem;
  background-color: red;
  margin-top: 7%;
  border-radius: 0.3rem;
  object-fit: fill;
}
