@import '../variables.scss';

.galleryWrapper {
  width: 100%;
  width: max-content;
}

.container {
  width: 30rem;
  height: 30rem;
  background-color: red;
  margin-top: 15%;
  border-radius: 0.7rem;
}

.smallContainerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.smallContainer {
  width: 6rem;
  height: 6rem;
  margin-top: 7%;
  border-radius: 0.3rem;
  object-fit: fill;
  &:hover {
    outline: 3px solid $main_orange;
    transition: ease-in 0.1s;
    cursor: pointer;
  }
  &:active {
    opacity: 0.8;
    cursor: pointer;
  }
}
