/* Colour Scheme */
$main_orange: hsl(26, 100%, 55%);
$pale_main_orange: hsl(25, 100%, 94%);
$very_dark_blue: hsl(220, 13%, 13%);
$dark_grey_blue: hsl(219, 9%, 45%);
$gray_blue: hsl(220, 14%, 75%);

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  padding-left: 15%;
  padding-right: 15%;
}

.productWrapper {
  display: flex;
  flex-direction: row;
}

.cartWrapper {
  display: flex;
  flex-direction: column;
}
