$main_orange: hsl(26, 100%, 55%);
$pale_main_orange: hsl(25, 100%, 94%);
$very_dark_blue: hsl(220, 13%, 13%);
$dark_grey_blue: hsl(219, 9%, 45%);
$gray_blue: hsl(220, 14%, 75%);
$very_light_grey: hsl(230, 60%, 98%);
